body,h1,ul,li
{
    margin: 0;
    padding: 0;
}
body
{
    background-image: linear-gradient(to left,black,rgb(179, 173, 173),black)/*(to left,pink,orange)*/;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
section
{    
    width: 85%;
    margin: 50px auto;
    
}

section h1
{
    text-align: center;
    
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 2em;
}

/*effect aapparition ma galerie*/
h1
{
    margin: 0;
    padding: 0;
    transform: translateY( -50%);
}
a img{
    opacity: 0;
    animation: animetes 1s linear forwards;
}
@keyframes animetes {
    0%
    {
        opacity: 0;
        transform: rotateY(90deg);
        filter: blur(10px);
    } 
    100%
    {
        opacity: 1;
        transform: rotateY(0deg);
        filter: blur(0px);

    }
}
h1 span
{
    opacity: 0;
    display: inline-block;
    animation: animate 1s linear forwards;
}

@keyframes animate 
{
    0%
    {
        opacity: 0;
        transform: rotateY(90deg);
        filter: blur(10px);
    } 
    100%
    {
        opacity: 1;
        transform: rotateY(0deg);
        filter: blur(0px);

    }
} 

h1 span:nth-child(1)
{
    color: black;
    animation-delay: 0.5s;
}

h1 span:nth-child(2)
{
    animation-delay: 0.75s;
}

h1 span:nth-child(3)
{
    color: black;
    animation-delay: 1s;
}

h1 span:nth-child(4)
{
    animation-delay: 1.5s;
}

h1 span:nth-child(5)
{
    color: black;
    animation-delay: 1.75s;
}

h1 span:nth-child(6)
{
    animation-delay: 2s;
}

h1 span:nth-child(7)
{
    color: black;
    animation-delay: 2.5s;
}


/*effect aapparition ma galerie*/
/* effect button*/
.btn
{
    padding: 10px 22px;
    background: rgba(255, 255, 255, 0.57);
    border: none;
    border-radius: 6px;
    color: black;
    font-size: 18px;
    cursor: pointer;
    box-shadow:  0 5px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    

}

.btn1
{
    padding: 10px 22px;
    background: rgba(255, 255, 255, 0.57);
    border: none;
    border-radius: 6px;
    color: black;
    font-size: 18px;
    cursor: pointer;
    box-shadow:  0 5px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    

}
.btn2
{
    padding: 10px 22px;
    background: rgba(255, 255, 255, 0.57);
    border: none;
    border-radius: 6px;
    color: black;
    font-size: 18px;
    cursor: pointer;
    box-shadow:  0 5px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    

}
.btn3
{
    padding: 10px 22px;
    background: rgba(255, 255, 255, 0.57);
    border: none;
    border-radius: 6px;
    color: black;
    font-size: 18px;
    cursor: pointer;
    box-shadow:  0 5px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    

}
.btn4
{
    padding: 10px 22px;
    background: rgba(255, 255, 255, 0.57);
    border: none;
    border-radius: 6px;
    color: black;
    font-size: 18px;
    cursor: pointer;
    box-shadow:  0 5px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    

}

.btn:hover,
.btn1:hover,
.btn2:hover,
.btn3:hover,
.btn4:hover
{
    transition: 0.8s;
    color: white;
    background-color: black;
}
.btn:active,
.btn1:active,
.btn2:active,
.btn3:active,
.btn4:active
{

    transform: scale(0.96);
}

ul
{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    /*border-bottom: 2px solid rgba(255, 255, 255, 0.57);*/
    padding-bottom: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

ul li
{
    list-style: none;
    margin: 0 10px;
    cursor: pointer;
    font-size: 1.2em;
    display: inline-flex;
}

ul li.active
{
    /*background-color: rgba(41, 255, 41, 0.897);*/
}

.product
{
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product img
{
    width: 200px;
    margin: 10px;
    height: 180px;
    margin-bottom: 10px;
}
@media screen and (max-width:514px){
    .product img
{
    width: 100%;
    height: 90%;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
}
@media  screen and (min-width: 150px) and (max-width: 630px) 
{
    .btn,
    .btn1,
    .btn2,
    .btn3,
    .btn4
    {
        padding: 5px 14px;
        margin: 5px;
        font-size: 14px;
    }
    .product
    {
        width: 100%;
        padding: 0 10px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    ul
    {
        
            max-width: 100%;
            display: flex;
            flex-wrap: wrap;
        }
        
        
    }
        ul li{
            padding: 0px 5px;
            margin: 0 5;
        }

}